@font-face {
	font-family: Xirod;
	src: url(/font/xirod.otf);
}

:root {
	--grad-max-color: rgba(25, 68, 75, 0.7);
	--grad-min-color: rgba(25, 68, 75, 0);
}



html, body { margin: 0px; padding: 0px; overflow: hidden; }

.gsom-screen {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.93);
}

.gsom-panel {
	width: 90vw;
	height: 90vh;
	position: absolute;
	left: 5vw;
	top: 5vh;
	color: #fafafa;
	font-weight: 600;
	font-family: Xirod;
	letter-spacing: 1px;
	/*background-color: rgba(0, 0, 0, 0.15);*/
}

.gsom-panel-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-direction: column;
}

.gsom-panel-row {
	width: 100%;
	position: relative;
	display: block;
}

.gsom-panel-header {
	
}

.gsom-panel-footer {
	
}

.gsom-panel-footer1 {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-direction: row;
	height: 58px;
}
.gsom-panel-footer1-1 {
	width: 50px;
	height: 100%;
	flex-grow: 0;
	position: relative;
	background: linear-gradient(40deg, var(--grad-min-color) 43px, var(--grad-max-color) 43.5px, var(--grad-min-color) 49px);
}
.gsom-panel-footer1-1:after {
	content: '';
	position: absolute;
	width: 20px;
	height: 17px;
	bottom: 15px;
	left: 20px;
	background: linear-gradient(-90deg, var(--grad-min-color) calc(100% - 4px), var(--grad-max-color) 100%),
		linear-gradient(0deg, var(--grad-max-color) 0px, var(--grad-min-color) 4px),
		linear-gradient(40deg, var(--grad-min-color) 11px, var(--grad-max-color) 14px, var(--grad-min-color) 14.5px);
}

.gsom-panel-footer1-2 {
	flex-grow: 1;
	height: 100%;
	position: relative;
	background: linear-gradient(0deg, var(--grad-min-color) 15px, var(--grad-max-color) 15px, var(--grad-min-color) 21px)
}
.gsom-panel-footer1-2-1 {
	transform: skew(45deg);
	position: absolute;
	width: 40%;
	height: 11px;
	bottom: 0px;
	right: 0px;
	background: linear-gradient(90deg, var(--grad-min-color) calc(100% - 6px), var(--grad-max-color) 100%),
		linear-gradient(0deg, var(--grad-max-color) 0px, var(--grad-min-color) 6px),
		linear-gradient(180deg, var(--grad-max-color) 0px, var(--grad-min-color) 6px);
}
.gsom-panel-footer1-2-2 {
	transform: skew(45deg);
	position: absolute;
	width: 8px;
	height: 11px;
	bottom: 0px;
	right: calc(40% + 2px);
	background: linear-gradient(0deg, var(--grad-max-color) 0px, var(--grad-min-color) 6px),
		linear-gradient(180deg, var(--grad-max-color) 0px, var(--grad-min-color) 6px);
}
.gsom-panel-footer1-2-3 {
	right: calc(40% + 12px);
}
.gsom-panel-footer1-2-4 {
	right: calc(40% + 22px);
}
.gsom-panel-footer1-2-5 {
	right: calc(40% + 32px);
}
.gsom-panel-footer1-2-6 {
	right: calc(40% + 42px);
}
.gsom-panel-footer1-2-7 {
	right: calc(40% + 52px);
}
.gsom-panel-footer1-2-8 {
	right: calc(40% + 62px);
	background: linear-gradient(0deg, var(--grad-max-color) 0px, var(--grad-min-color) 6px),
		linear-gradient(180deg, var(--grad-max-color) 0px, var(--grad-min-color) 6px),
		linear-gradient(90deg, var(--grad-max-color) 0px, var(--grad-min-color) 6px);
}
.gsom-panel-footer1-2-9 {
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: 15px;
	left: 0;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 90%);
}

.gsom-panel-footer1-3 {
	width: 15px;
	height: 100%;
	flex-grow: 0;
	background: linear-gradient(45deg, var(--grad-min-color) 10px, var(--grad-max-color) 10px, var(--grad-min-color) 16px);
}
.gsom-panel-footer1-4 {
	flex-grow: 0;
	height: 100%;
	width: 20%;
	background: linear-gradient(90deg, var(--grad-min-color) calc(100% - 6px), var(--grad-max-color) 100%),
		linear-gradient(0deg, var(--grad-max-color) 0px, var(--grad-min-color) 6px);
}

.gsom-panel-body {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-direction: row;
	flex-grow: 1;
	background: linear-gradient(90deg, var(--grad-max-color) 0px, var(--grad-min-color) 6px, var(--grad-min-color) calc(100% - 6px), var(--grad-max-color) 100%);
}
.gsom-panel-tabs:after {
	content: '';
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: 0;
	left: 0;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 5%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
}

.gsom-panel-back-shadow {
	background-color: rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0px 0px 8px 2px rgba(29,69,77,1);
	-moz-box-shadow: inset 0px 0px 8px 2px rgba(29,69,77,1);
	box-shadow: inset 0px 0px 8px 2px rgba(29,69,77,1);
}

.gsom-panel-tabs {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-direction: row;
	background: linear-gradient(90deg, var(--grad-max-color) 0px, var(--grad-min-color) 6px, var(--grad-min-color) calc(100% - 6px), var(--grad-max-color) 100%), linear-gradient(180deg, var(--grad-max-color) 0px, var(--grad-min-color) 6px);
}

.gsom-panel-tabs:after {
	content: '';
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: 0;
	left: 0;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 5%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
}

.gsom-panel-tab {
	cursor: pointer;
	padding: 17px;
	display: inline-block;
	position: relative;
	font-size: 10px;
	width: 155px;
	text-align: center;
	background-color: rgba(22, 32, 42, 0.5);
	border: 1px solid #212c30;
}
.gsom-panel-tab + .gsom-panel-tab {
	margin-left: -1px;
}

.gsom-panel-tab:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 17%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.5) 65%, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0) 100%);
}

.gsom-panel-tab:hover {
	z-index: 1;
	border-color: #39b5b5;
	-webkit-box-shadow: inset 0px 0px 3px 1px rgba(89,177,178,1), 0px 0px 3px 1px rgba(89,177,178,1);
	-moz-box-shadow: inset 0px 0px 3px 1px rgba(89,177,178,1), 0px 0px 3px 1px rgba(89,177,178,1);
	box-shadow: inset 0px 0px 3px 1px rgba(89,177,178,1), 0px 0px 3px 1px rgba(89,177,178,1);
}

.gsom-button {
	padding: 1rem;
	display: inline-block;
	position: relative;
	font-size: 1rem;
	margin: 1rem;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0px 0px 4px 2px rgba(89,177,178,1), 0px 0px 4px 2px rgba(89,177,178,1);
	-moz-box-shadow: inset 0px 0px 4px 2px rgba(89,177,178,1), 0px 0px 4px 2px rgba(89,177,178,1);
	box-shadow: inset 0px 0px 4px 2px rgba(89,177,178,1), 0px 0px 4px 2px rgba(89,177,178,1);
}
